*~
/turtlegl
*.ninja
.ninja*
compile_commands.json
.reggae
objs/
*.trace
build/
*.dll
*.exe
*.lib
.vs/
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles/
*.cmake
turtlegl.dir/
*turtlegl.VC.db
*turtlegl.VC.VC.opendb
*.TMP
Debug/
*.sln
windows/
.vscode/
project.log
project.tasks
strace_out
