*~
/turtlegl
*.ninja
.ninja*
compile_commands.json
.reggae
objs/
*.trace
build/
*.dll
*.exe
*.lib
.vs/
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles/
*.cmake
turtlegl.dir/
*turtlegl.VC.db
*turtlegl.VC.VC.opendb
*engine.cpp~RF192eafaf.TMP
engine.i-22ca9866
Debug/
*.sln
windows/
.vscode/
