*~
/turtlegl
*.ninja
.ninja*
compile_commands.json
.reggae
objs/
*.trace
build/
*.dll
*.exe
*.lib
.vs/
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles/
*.cmake
turtlegl.dir/
*turtlegl.VC.db
*turtlegl.VC.VC.opendb
*engine.cpp~RF192eafaf.TMP
sphere.i*
triangle.i*
earth.i*
engine.i*
assimpentity.i*
plane.i*
engine.i*
earth.i*
plane.i*
sphere.i*
triangle.i*
assimpentity.i*
*.TMP
Debug/
*.sln
windows/
.vscode/
project.log
project.tasks
strace_out
imgui.ini
*.db
TuretleGL.VC.VC.opendb
*.opendb
